<div class="container" style="text-align: center">
    <img src="https://seguro.cesgranrio.org.br/imagens/logo.png" alt="">
    <h5>Sistema de Controle de Questões</h5>
  </div>
<div class="jumbotron">
    <h2 class="display4 text-center">Login</h2>
    <hr>
    <div class="row">
      <div class="col-md-5">          
          <div class="form-group">
            <label>CPF</label>
            <input name="Cpf" [(ngModel)]="usuario.Cpf" class="form-control" placeholder="Digite o CPF">
          </div>
          <div class="form-group">
              <label>Senha</label>
              <input type="password" name="Senha" [(ngModel)]="usuario.Senha" class="form-control" placeholder="Digite a Senha">
            </div>
          <div>
            <button type="submit" class="btn" (click)="fazerLogin()">Entrar</button>
          </div>    
          <div class="validation-error-2" *ngIf="!validado">Usuário ou senha inválidos.</div>
      </div>      
    </div>
  </div>